header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bs-primary);

    background-color: --b;
    top: 0;
    height: 80px;
    max-height: 80px; 
    padding: 40px;

    width: 100%;

    position: fixed;
    transition: 0.3s ease;

}

header a {
    text-decoration: none;
    color: inherit;
}

header div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.seccion1 img{
    width: 100%;
    height: 500px;

}

body {
    padding-top: 80px;
}